@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #143131;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
img{
  width: 100%;
  height: auto;
}
.hero {
  background-image: url('/assets/png/palmtown_hero.webp');
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure the hero section has a height */
  width: 100%;
}


.monster{
  font-family: "Montserrat Alternates", sans-serif;
}